:root {
    --sidebar-color: #486142;
    --background-color: #C1E0B9;
    --light-green: #73A966;
    --cancel-color: #A5745F;
    --clear-color: #6FAEA2;
    --input-background-color: #6F9565;
}

html, body {
    background-color: var(--background-color);
    height: 100%;
    font-family: inter, "helvetica", "sans-serif", "verdana";
    padding: 0;
    margin: 0;
}

#content {
    height: 100%;
    padding: 0;
    display: flex;
}

#sidebar {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 100%;
    justify-content: start;
    align-items: center;
    background-color: var(--sidebar-color);
    color: white;
    transition: 0.3s;
}

#sidebar > * {
    transition: ease-in-out 0.1s;
}

#buttonDiv.projectPage {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr max-content 1fr;
    justify-items: center;
    align-items: center;
    box-sizing: border-box;
    padding-left: 5rem;
    padding-right: 5rem;
}

#buttonDiv.allTasksPage {
    width: 100%;
    display: flex;
    justify-content:space-evenly;
    align-items:stretch;
}

#editProject {
    justify-self:start;
}

#addTask {
    justify-self: end;
}

#projectsWrapper {
    display: flex;
    gap: 0.5rem;
}

#sideBarCloserBtn {
    position: absolute;
    left: 100%;
    height: 50px;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0 10px 10px 0;
    background-color: var(--light-green);
}

#sideBarCloserBtn:hover {
    background-color: #02ca1d;
}

#projectElementWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    overflow: scroll;
}


#mainpage {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#addTaskBackGround {
    background-color: var(--light-green);
    height: 80%;
    width: clamp(300px, 80%, 1920px);
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    box-sizing: content-box;
}

#popUpGrid {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 15ch auto;
    grid-template-rows: repeat(6, 1fr) 8fr 2fr;
    margin-top: 1rem;
    align-items: center;
    box-sizing: border-box;
    padding: 1rem;
    gap: 1rem;
}

#addTaskTitle {
    color: white;
    font-variant: small-caps;
    letter-spacing: 0.05rem;
    padding: 0;
    margin: 0;
}

.taskLeftColumn {
    justify-self: end;
    color: white;
}

.taskRightColumn, .textInput, #projectSelect {
    padding: 0.35rem;
    border-radius: 0.4rem;
    box-sizing: border-box;
    border: 0;
    outline: 0;
    background-color: var(--input-background-color);
    color: white;
}

label {
    color: white;
}

#priorityDiv {
    display: flex;
    width: 100%;
    justify-content: space-around;
    
}


#projectSelect {
    appearance: none;
    cursor: pointer;
}

#notesLabel {
    grid-column: 1/3;
    justify-self: center;
}

#notesInput {
    grid-column: 1/3;
    justify-self: center;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 0.5rem;
    resize: none;
}

#addTaskButtonDiv {
    display: flex;
    justify-content: flex-end;
    grid-column: 1/3;
    gap: 1rem;
}

#clearButton {
    background-color: var(--clear-color);
}

#cancelButton {
    background-color: var(--cancel-color);
}

#gridWrapper {
    display: grid;
    height: 100%;
    width: 100%;
    grid-auto-rows: 4rem;
    padding: 5rem;
    padding-top: 0;
    margin-top: 2rem;
    box-sizing: border-box;
    grid-row-gap: 1rem;
    overflow: scroll;
}

.gridElement {
    display: grid;
    grid-template-columns: 4rem 1fr 2fr 1fr 1fr 3fr 1fr 1fr;
    justify-items: center;
    align-items: center;
    background-color: var(--light-green);
    border-radius: 1rem;
}

.gridElement.titleRow {
    background-color: transparent !important;
    align-items: end;
}

.gridTextElement {
    max-width: 100%;
    min-width: 0px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    box-sizing: border-box;
    padding-left: 1rem;
    padding-right: 1rem;
}

.greenBtn {
    border: none;
    font-size: 1.2rem;
    text-transform:uppercase;
    background-color: var(--sidebar-color);
    color: white;
    padding: 1rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    font-weight: 600;
    border-radius: 0.5rem;
    letter-spacing: .1rem;
}


.projectElement {
    transition: 0.3s;
}


.arrow{
    color: white;
    filter: invert(100%) sepia(0%) saturate(7465%) hue-rotate(57deg) brightness(103%) contrast(103%);
    width: 1rem;
    transition: 0.2s;
}

.arrow.down {
    transform: rotate(90deg);
}

.arrow.up {
    transform: rotate(-90deg);
}

.arrow.right {
    transform: rotate(0deg);
}

.arrow.left {
    transform: rotate(180deg);
}

#sideBarCloserBtn > .arrow {
    width: 1.3rem;
}